body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightblue;
}

.container{
    display: flex;
    justify-content: center; 
    align-content: center;
    text-align: center;
    margin-top: 25%;
}

.header{
    text-align: center;
    margin-top: 5%;
}

