body {
    background: rgb(0, 0, 0);
  }
  
  .ball {
    background-image: url('https://source.unsplash.com/K9HgyI3qmqA/150x150');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 290px;
    width: 290px;
    top: 5px;
    left: 5px;
    cursor: pointer;
  }
  
  .hold {
    border: solid 5px #ccc;
  }

  .header{
      text-align: center;
      color: white;
      font-size: 50px;
  }

  .text{
    position: absolute;
    text-align: center;
    font-size: 4em;
    margin-left: 1%;
  }
  
  .empty {
    display: inline-block;
    height: 300px;
    width: 300px;
    margin: 10px;
    border: solid 3px lightblue;
    background: white;
  }
  
  .hovered {
    background: white;
    border-style: dashed;
  }